<!DOCTYPE html>
<html ng-app="my-app">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="script.js"></script>
<script src="chess-icons.service.js"></script>
<style type="text/css">
	.cell{
		height: 75px;
		width: 75px;
		float: left;
	}
</style>
<body ng-controller="my-controller as $ctrl">

<div style="border: 10px solid #7b6e6e;width: 600px;height: 600px;margin-left: 25%;">
	<div ng-repeat = "row in  $ctrl.grid" style="clear: both;">
		<div ng-repeat="cell in row">
			<div class="cell" ng-style="{'background-color': (cell.isActive ? '#ff6464' : ((cell.x + cell.y) % 2 != 0) ? 'gray' : 'white')}" id="x-{{cell.x}}-y-{{cell.y}}" ng-click="$ctrl.clickEvent(cell);">
				<div ng-bind-html="cell.value | unsafe" style="font-size: 45px;padding: 15px;"></div>
			</div>	
		</div>
	</div>
</div>

</body>
</html>